.Customers {
  width: 100%;
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Customers-container {
  width: 888px;
  height: 29px;
  display: flex;
  justify-content: space-between;
}
