.newsletter{
    width: 100%;
    height: 332px;
    left: 0px;

    justify-content: space-around;
    align-items: center;
    display: flex;
}

.content {
    width: 887px;
    height: 95px;
    left: 276px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.left-content {
    margin-right: 9%;
}

.sign-up {
    height: 23px;
    left: 276px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #3D4F9F;
}

.description {
    width: 330px;
    height: 54px;
    left: 276px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.03em;
    
    margin-top: 15px;
    color: #8D96BD;
}

.right-content {
    width: 477px;
    height: 59px;
    left: 686px;

    justify-content: space-between;
    display: flex;
    align-items: center;

}

.email {
    width: 279px;
    height: 59px;
    left: 686px;
    background: #EFEFF7;
    border: #d2e1ff 0px solid;
    border-radius: 5px;
    padding-left: 25px;  

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    margin-right: 12px;
}

.email::placeholder {
    height: 17px;
    display: flex;
    color: #7A85AD;
}

.save-me {
    width: 184px;
    height: 59px;
    left: 979px;
    background: #4D6CE1;
    border: #d2e1ff 0px solid;
    border-radius: 5px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */

    color: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
}