.blog {
  width: 100%;
  height: 865px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background: #f5f8ff;
}
.blog-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.blog-title-our {
  width: 91px;
  height: 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d4f9f;
}
.blog-title-start {
  width: 253px;
  height: 30px;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #3d4f9f;
  margin-top: 20px;
}
.blog-swiper {
  width: 960px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.blog-slide {
  width: 958px;
  height: 394px;
  background: #ffffff;
  border: 1px solid #d8e3fe;
  box-shadow: 0px 15px 50px #eff4ff;
  display: flex;
}
.blog-ilustration {
  position: relative;
  width: 50%;
  height: 267px;
}
.blog-img1 {
  position: absolute;
  left: -65px;
  top: -15px;
}
.blog-img2 {
  position: absolute;
  left: 215px;
  top: -15px;
}
.blog-img3 {
  position: absolute;
  left: 215px;
  top: 124px;
}
.blog-text {
  width: 50%;
  height: 267px;
  display: grid;
  justify-content: space-around;
  align-items: center;
  padding-top: 60px;
}
.blog-text-title {
  width: 361px;
  height: 45px;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #3d4f9f;
}
.blog-text-text {
  width: 408px;
  height: 116px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  margin-bottom: 31px;
  margin-top: 32px;

  color: #8d96bd;
}
.blog-text-btns {
  display: flex;
  align-items: center;
}
.blog-btn1 {
  width: 113px;
  height: 43px;
  border: 1px solid #fff;
  background: #d2e1ff;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #3a79ff;
}
.blog-btn2 {
  width: 211px;
  height: 43px;
  background: #ffffff;
  border: 1px solid #fff;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: #a6b6da;
}

.swiper-button-prev {
  background-color: blue;
  width: 100px;
  height: 100px;
}

.dasda {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(146, 198, 247);
  font-size: 50px;
  font-weight: bold;
  position: relative;
  left: -50px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.dasdo {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(146, 198, 247);
  font-size: 50px;
  font-weight: bold;
  position: relative;
  left: 50px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
